body {
  background-color: gray;
}


.container {
    height: 600px;
    width: 500px;
    border: solid 1px white;
    position: relative;
}

.ball {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: purple;
  bottom: 0;
  position: absolute;
}
